<html>
<body>
<div class="wrapper">

  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>BookMeetingRoom</h3>
    </div>
    <div>
      <button mat-button class="sidebar-menu" routerLink="/selectDate">SelectRoom & Time</button><br>
    </div>
    <div>
      <button mat-button class="sidebar-menu" routerLink="/dashboard">Dashboard</button><br>
    </div>


    <div class="sidebar-emp">

    </div>
  </nav>

  <div class="card-header" >
    <button mat-raised-button class="botton-login" *ngIf="!(isLoggedIn | async)" (click)="authService.callDialog()">Login</button>
    <button mat-raised-button class="botton-login" *ngIf="(isLoggedIn | async)" (click)="authService.logout()">LogOut</button>

    <div class="form-data" *ngIf="!(isLoggedIn | async)">
      <br/><br/><br/><br/>
      <h1>Please Login !</h1>
    </div>

    <br/><br/>

    <div *ngIf="(isLoggedIn | async)">
      <br/>
      <h1 align="center">Dashboard</h1>

      <div align="center">
       <mat-form-field class="datepick">
        <input matInput [matDatepicker]="picker1" placeholder="ToDate" [(ngModel)]="todateSelect">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="datepick">
        <input matInput [matDatepicker]="picker2" placeholder="FromDate" [(ngModel)]="fromdateSelect">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      &nbsp;&nbsp; &nbsp;&nbsp;
      <button mat-raised-button color="primary" (click) = "clicksearch()">Search</button>
      </div>


      <br/><br/>



    </div>

  </div>

</div>



</body>


</html>

