

<body class="bgimg">



<mat-sidenav-container *ngIf="(isLoggedIn | async) || (isLoggedInAdmin | async) || (isLoggedInHR | async)"
                       class="card" (backdropClick)="close()">


  <mat-sidenav-content>

    <br/><br/><br/>
      <h1 align="center" style="font-family: 'Anton', sans-serif;">Dashboard</h1>
      <br/>
      <div align="center">

        <mat-form-field>
          <mat-label>Month</mat-label>
          <mat-select [(ngModel)]="selectedmonth">
            <mat-option value="January">January</mat-option>
            <mat-option value="February">February</mat-option>
            <mat-option value="March">March</mat-option>
            <mat-option value="April">April</mat-option>
            <mat-option value="May">May</mat-option>
            <mat-option value="June">June</mat-option>
            <mat-option value="July">July</mat-option>
            <mat-option value="August">August</mat-option>
            <mat-option value="September">September</mat-option>
            <mat-option value="October">October</mat-option>
            <mat-option value="November">November</mat-option>
            <mat-option value="December">December</mat-option>
          </mat-select>
        </mat-form-field>

        &nbsp;&nbsp; &nbsp;&nbsp;


        <mat-form-field>
          <mat-label>Year</mat-label>
          <mat-select [(ngModel)]="selectedyear">
            <mat-option value="2019">2019</mat-option>
            <mat-option value="2020">2020</mat-option>
            <mat-option value="2021">2021</mat-option>
            <mat-option value="2022">2022</mat-option>
            <mat-option value="2023">2023</mat-option>
            <mat-option value="2024">2024</mat-option>
            <mat-option value="2025">2025</mat-option>
            <mat-option value="2026">2026</mat-option>
            <mat-option value="2027">2027</mat-option>
            <mat-option value="2028">2028</mat-option>
            <mat-option value="2029">2029</mat-option>
            <mat-option value="2030">2030</mat-option>
          </mat-select>
        </mat-form-field>

        &nbsp;&nbsp; &nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="SearchDashBoard()">Search</button>
      </div>









  </mat-sidenav-content>


</mat-sidenav-container>






</body>


