

<body class="bgimg">



<mat-sidenav-container *ngIf="(roleuser) || (roleadmin) || (rolehr)"
                       class="card" (backdropClick)="close()">


  <mat-sidenav-content>

    <br/><br/><br/>
      <h1 align="center" style="font-family: 'Anton', sans-serif;">Dashboard</h1>
      <br/>
      <div align="center">

        <mat-form-field>
          <input matInput   [matDatepicker]="picker" placeholder="From Date" readonly="readonly"
                 [formControl]="serializedDate">
          <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle >
          <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field>
        &nbsp;&nbsp;
        <mat-form-field>
          <input matInput  [min]="mindate"  [matDatepicker]="picker2" placeholder="To Date" readonly="readonly"
                 [formControl]="serializedDate2">
          <mat-datepicker-toggle matSuffix [for]="picker2" ></mat-datepicker-toggle >
          <mat-datepicker #picker2 ></mat-datepicker>
        </mat-form-field>

        &nbsp;&nbsp; &nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="SearchDashBoard()">Search</button>
      </div>









  </mat-sidenav-content>


</mat-sidenav-container>






</body>


