<html>
<body class="bgimg">



<mat-sidenav-container *ngIf="(isLoggedIn | async) || (isLoggedInAdmin | async) || (isLoggedInHR | async)"
                       class="card" (backdropClick)="close()">
  <mat-sidenav #sidenav (keydown.escape)="close()" class="sidenavs">
    <button mat-button (click)="close()" routerLink="/selectDate" class="botton">Book MeetingRoom</button><br>
    <button mat-button (click)="close()" routerLink="/dashboard" class="botton">Dashboard</button>

    <mat-accordion *ngIf="(isLoggedInAdmin | async)">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Admin
          </mat-panel-title>

        </mat-expansion-panel-header>

        <button mat-button (click)="close()" routerLink="/systemadmin" class="botton">System Admin</button>

      </mat-expansion-panel>

    </mat-accordion>
  </mat-sidenav>

  <mat-sidenav-content>

    <button type="button" mat-button (click)="sidenav.open()">
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon">list
      </mat-icon><p>Menu</p>{{CurrentTime}}
    </button>



    <h1 align="center">Dashboard</h1>

    <div *ngIf="(isLoggedIn | async) || (isLoggedInAdmin | async) || (isLoggedInHR | async)">

      <h2 style="margin-left:5%;">{{dateFull.month}} {{dateFull.year}}</h2>
      <br/><br/>

      <table border="1" align="center" bordercolor=black bgcolor="black">

        <tr class="greentable">
          <th rowspan="2">Date</th>
          <th rowspan="2">MeetingRoom</th>
          <th colspan="19">Time</th>
        </tr>


        <tr class="yellowtable">
          <th>08.00</th>
          <th>08.30</th>
          <th>09.00</th>
          <th>09.30</th>
          <th>10.00</th>
          <th>10.30</th>
          <th>11.00</th>
          <th>11.30</th>
          <th>12.00</th>
          <th>12.30</th>
          <th>13.00</th>
          <th>13.30</th>
          <th>14.00</th>
          <th>14.30</th>
          <th>15.00</th>
          <th>15.30</th>
          <th>16.00</th>
          <th>16.30</th>
          <th>17.00</th>
        </tr>



        <tr height="70" class="whitetable" *ngFor="let event1 of events1; let i = index">

          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            01-{{dateFull.month}}-{{dateFull.year}}
          </th>

          <th>
            {{event1[i][4]}}
          </th>

          <td *ngFor="let cell of event1"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>

        <tr height="70" class="whitetable" *ngFor="let event2 of events2; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            02-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event2[i][4]}}
          </th>

          <td *ngFor="let cell of event2"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>



        <tr height="70" class="whitetable" *ngFor="let event3 of events3; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            03-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event3[i][4]}}
          </th>

          <td *ngFor="let cell of event3"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>



        <tr height="70" class="whitetable" *ngFor="let event4 of events4; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            04-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event4[i][4]}}
          </th>

          <td *ngFor="let cell of event4"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>



        <tr height="70" class="whitetable" *ngFor="let event5 of events5; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            05-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event5[i][4]}}
          </th>

          <td *ngFor="let cell of event5"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>



        <tr height="70" class="whitetable" *ngFor="let event6 of events6; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            06-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event6[i][4]}}
          </th>

          <td *ngFor="let cell of event6"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>



        <tr height="70" class="whitetable" *ngFor="let event7 of events7; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            07-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event7[i][4]}}
          </th>

          <td *ngFor="let cell of event7"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>



        <tr height="70" class="whitetable" *ngFor="let event8 of events8; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            08-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event8[i][4]}}
          </th>

          <td *ngFor="let cell of event8"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>



        <tr height="70" class="whitetable" *ngFor="let event9 of events9; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            09-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event9[i][4]}}
          </th>

          <td *ngFor="let cell of event9"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>



        <tr height="70" class="whitetable" *ngFor="let event10 of events10; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            10-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event10[i][4]}}
          </th>

          <td *ngFor="let cell of event10"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>



        <tr height="70" class="whitetable" *ngFor="let event11 of events11; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            11-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event11[i][4]}}
          </th>

          <td *ngFor="let cell of event11"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>



        <tr height="70" class="whitetable" *ngFor="let event12 of events12; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            12-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event12[i][4]}}
          </th>

          <td *ngFor="let cell of event12"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>



        <tr height="70" class="whitetable" *ngFor="let event13 of events13; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            13-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event13[i][4]}}
          </th>

          <td *ngFor="let cell of event13"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>


        <tr height="70" class="whitetable" *ngFor="let event14 of events14; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            14-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event14[i][4]}}
          </th>

          <td *ngFor="let cell of event14"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>



        <tr height="70" class="whitetable" *ngFor="let event15 of events15; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            15-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event15[i][4]}}
          </th>

          <td *ngFor="let cell of event15"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>



        <tr height="70" class="whitetable" *ngFor="let event16 of events16; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            16-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event16[i][4]}}
          </th>

          <td *ngFor="let cell of event16"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>


        <tr height="70" class="whitetable" *ngFor="let event17 of events17; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            17-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event17[i][4]}}
          </th>

          <td *ngFor="let cell of event17"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>


        <tr height="70" class="whitetable" *ngFor="let event18 of events18; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            18-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event18[i][4]}}
          </th>

          <td *ngFor="let cell of event18"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>


        <tr height="70" class="whitetable" *ngFor="let event19 of events19; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            19-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event19[i][4]}}
          </th>

          <td *ngFor="let cell of event19"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>


        <tr height="70" class="whitetable" *ngFor="let event20 of events20; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            20-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event20[i][4]}}
          </th>

          <td *ngFor="let cell of event20"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>


        <tr height="70" class="whitetable" *ngFor="let event21 of events21; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            21-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event21[i][4]}}
          </th>

          <td *ngFor="let cell of event21"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>


        <tr height="70" class="whitetable" *ngFor="let event22 of events22; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            22-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event22[i][4]}}
          </th>

          <td *ngFor="let cell of event22"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>





        <tr height="70" class="whitetable" *ngFor="let event23 of events23; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            23-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event23[i][4]}}
          </th>

          <td *ngFor="let cell of event23"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>


        <tr height="70" class="whitetable" *ngFor="let event24 of events24; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            24-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event24[i][4]}}
          </th>

          <td *ngFor="let cell of event24"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>


        <tr height="70" class="whitetable" *ngFor="let event25 of events25; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            25-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event25[i][4]}}
          </th>

          <td *ngFor="let cell of event25"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>

        <tr height="70" class="whitetable" *ngFor="let event26 of events26; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            26-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event26[i][4]}}
          </th>

          <td *ngFor="let cell of event26"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>

        <tr height="70" class="whitetable" *ngFor="let event27 of events27; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            27-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event27[i][4]}}
          </th>

          <td *ngFor="let cell of event27"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>

        <tr height="70" class="whitetable" *ngFor="let event28 of events28; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            28-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event28[i][4]}}
          </th>

          <td *ngFor="let cell of event28"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>

        <tr height="70" class="whitetable" *ngFor="let event29 of events29; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            29-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event29[i][4]}}
          </th>

          <td *ngFor="let cell of event29"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>

        <tr height="70" class="whitetable" *ngFor="let event30 of events30; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            30-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event30[i][4]}}
          </th>

          <td *ngFor="let cell of event30"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>

        <tr height="70" class="whitetable" *ngFor="let event31 of events31; let i = index">
          <th *ngIf="i == 0 ? true : false" [attr.rowspan]="roomnames.length">
            31-{{dateFull.month}}-{{dateFull.year}}
          </th>
          <th>
            {{event31[i][4]}}
          </th>

          <td *ngFor="let cell of event31"
              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>





      </table>

      <br/><br/>

    </div>






  </mat-sidenav-content>


</mat-sidenav-container>








</body>


</html>

