.wrapper {
    display: flex;

    align-items: stretch;
}



#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
     padding: 24px;
    background: #6d7fcc;
}


#sidebar .sidebar-menu {
    padding: 20px;
    background: #7386D5;
    width:250px;
}

#sidebar .sidebar-emp {
        width: 100%;
        padding: 20px;
        min-height: 100%;
        transition: all 0.3s;
}

.card-header{
  background: #7386D5;
  height:85px;
  width:100%;
}


.botton-login{
  float: right;
  margin-top: 14px;
  color: #7386D5;
}

.form-data{
    text-align : center;
}

table{
  width:90%;
  text-align:center;

}
td {
  min-width: 50px;
  max-width: 50px;
  max-height: 50px;
  min-height: 50px;
  overflow: hidden;
  white-space: nowrap;
}

.datepick{
    margin-left:126px;
}

.greentable{
  background-color: rgb(0, 176, 80);
}

.yellowtable{
  background-color: rgb(255, 192, 0);
}

.whitetable{
    background-color: white;
}


.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.card{
  background-color: white;
  box-shadow: rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-top: 10px;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  width : 98%;
  height : 90%;
  opacity: 0.9;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.bgimg{
  background-image:url(src/app/img/ILS-LOGO.jpg);
    border: thin silver solid;
    background-attachment: fixed;
    background-size: 100% 100%;

}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-icon{
  font-size: 50px;
  width: 50px;
}

.botton{
  width:100%;
  height: 10%;
  font-size: 20px;
}

.sidenavs{
  background-color: white;
  width : 20%;
}
/deep/.custom-tooltip-blue{
    background-color: #0C6A9E;
    color: #ffffff;
    font-size: 15px;
    white-space: pre-line;
    max-width: 1000px !important;
}
td {
  min-width: 50px;
  max-width: 50px;
  max-height: 50px;
  min-height: 50px;
  overflow: hidden;
  white-space: nowrap;
}
