<html>



    <div *ngIf="(isLoggedInAdmin | async)">
      <h1 align="center" style="background-color: rgb(0, 176, 80); color:white;">Add User</h1>

      <form [formGroup]="firstFormGroup">
      <div align="center">
        <mat-form-field>
          <input matInput placeholder="Firstname" formControlName="username" (keydown.enter)="submit()" required>
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field>
          <input matInput placeholder="Lastname" formControlName="lastname" (keydown.enter)="submit()" required>
        </mat-form-field>
      </div>
      <br/>
      <div align="center">
        <mat-form-field>
          <mat-select placeholder="Department" formControlName="department" required>
            <mat-option value="Account Executive">Account Executive</mat-option>
            <mat-option value="Analyst">Analyst</mat-option>
            <mat-option value="Business Development">Business Development</mat-option>
            <mat-option value="Human Resource">Human Resource</mat-option>
            <mat-option value="Inventory Management Control">Inventory Management Control</mat-option>
            <mat-option value="Information Technology">Information Technology</mat-option>
            <mat-option value="Operation">Operation</mat-option>
            <mat-option value="Safety">Safety</mat-option>
            <mat-option value="Trainee">Trainee</mat-option>
            <mat-option value="Transport">Transport</mat-option>
          </mat-select>
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field>
          <mat-select placeholder="Position" formControlName="position" required>
            <mat-option value="Admin-AccountExcutive">Admin-AccountExcutive</mat-option>
            <mat-option value="Admin-HumanResource">Admin-HumanResource</mat-option>
            <mat-option value="Admin-InventoryManagementControl">Admin-InventoryManagementControl</mat-option>
            <mat-option value="Admin-Transport">Admin-Transport</mat-option>
            <mat-option value="DC-Manager">DC-Manager</mat-option>
            <mat-option value="Manager">Manager</mat-option>
            <mat-option value="Safety">Safety</mat-option>
            <mat-option value="Supervisor">Supervisor</mat-option>
            <mat-option value="Support">Support</mat-option>
            <mat-option value="Trainee">Trainee</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <br/>
      <div align="center">


        <mat-form-field>
          <input matInput placeholder="Username" formControlName="userid" (keydown.enter)="submit()" required>
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field>
          <input matInput placeholder="Enter your password" [type]="hide ? 'text' : 'password'" formControlName="password" required
                 (keydown.enter)="submit()">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </button>
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field>
          <mat-select placeholder="Status" formControlName="status" required>
            <mat-option value="admin">Admin</mat-option>
            <mat-option value="hr">HR</mat-option>
            <mat-option value="user">User</mat-option>
          </mat-select>
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      </div>
      <br/>
      <div align="center">
        <button mat-raised-button color="primary" (click)="submit()">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="reset()">Reset</button>
      </div>
      </form>
    </div>





</html>
