
<body class="bgimg" bgproperties="fixed">



<mat-sidenav-container *ngIf="(isLoggedInAdmin | async)"
                       class="card" (backdropClick)="close()">
  <mat-sidenav #sidenav (keydown.escape)="close()" class="sidenavs">
    <button mat-button (click)="close()" routerLink="/" class="botton">Book MeetingRoom</button><br>
    <button mat-button (click)="close()" routerLink="/dashboard" class="botton">Dashboard</button>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Admin
          </mat-panel-title>

        </mat-expansion-panel-header>

        <button mat-button (click)="close()" routerLink="/systemadmin" class="botton">System Admin</button>
        <button mat-button (click)="close()" routerLink="/addroom" class="botton">Add MeetingRoom</button>
      </mat-expansion-panel>

    </mat-accordion>


  </mat-sidenav>


  <mat-sidenav-content>

    <button type="button" mat-button (click)="sidenav.open()">
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="mat-icon2">list
      </mat-icon><p>Menu</p>
    </button>


    <h1 align ="center">System Admin</h1>

    <button mat-flat-button class="bottonadd" (click)="onAdduser()">Create User +</button>
    <br/><br/>
    <mat-form-field style="margin-left: 5%; width: 90%;">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Keyword">
    </mat-form-field><br/>



    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" align="center">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef style="text-align:left; color:black; vertical-align: middle;"> Username </th>
        <td mat-cell *matCellDef="let element" style="text-align:left; color:black; vertical-align: middle;"> {{element.username}} </td>
      </ng-container>

      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef style="text-align:left; color:black; vertical-align: middle;"> Firstname </th>
        <td mat-cell *matCellDef="let element" style="text-align:left; color:black; vertical-align: middle;"> {{element.firstname}} </td>
      </ng-container>

      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef style="text-align:left; color:black; vertical-align: middle;"> Lastname </th>
        <td mat-cell *matCellDef="let element" style="text-align:left; color:black; vertical-align: middle;"> {{element.lastname}} </td>
      </ng-container>

      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef style="text-align:left; color:black; vertical-align: middle;"> Department </th>
        <td mat-cell *matCellDef="let element" style="text-align:left; color:black; vertical-align: middle;"> {{element.department}} </td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef style="text-align:left; color:black; vertical-align: middle;"> Position </th>
        <td mat-cell *matCellDef="let element" style="text-align:left; color:black; vertical-align: middle;"> {{element.position}} </td>
      </ng-container>



      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef style="text-align:left; color:black; vertical-align: middle;"> Role </th>
        <td mat-cell *matCellDef="let element" style="text-align:left; color:black; vertical-align: middle;"> {{element.status}} </td>
      </ng-container>




      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef style="text-align:left; color:black; vertical-align: middle;"> Edit </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button matTooltipPosition="left" (click)="onEdituser(element)">
          <mat-icon>edit</mat-icon>
        </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete" stickyEnd>
        <th mat-header-cell *matHeaderCellDef style="text-align:left; color:black; vertical-align: middle;"> Delete </th>
        <td mat-cell *matCellDef="let element"> <button mat-icon-button matTooltipPosition="left" (click)="onDeleteuser(element)">
          <mat-icon>delete_forever</mat-icon>
        </button> </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"></tr>

    </table>
    <br/><br/>

<br/><br/>


  </mat-sidenav-content>


</mat-sidenav-container>





<mat-paginator [pageSizeOptions]="[15, 50, 100]" style="width:93%; margin-left:65px;" showFirstLastButtons></mat-paginator>
</body>
