
<h1 align="center" style="background-color: rgb(0, 176, 80); color:white;">Edit Book</h1>

<form [formGroup]="firstFormGroup" autocomplete="off">
<div align ="center">
  <label>From Time :
    <mat-form-field>
      <mat-select formControlName="time" required placeholder=" " [disabled]="this.firstFormGroup.get('time').value > this.fulltime ?  false : true">
        <mat-option value="08.00" [disabled]="this.fulltime < '08.00' ?  false : true">08.00</mat-option>
        <mat-option value="09.00" [disabled]="this.fulltime < '09.00' ?  false : true">09.00</mat-option>
        <mat-option value="10.00" [disabled]="this.fulltime < '10.00' ?  false : true">10.00</mat-option>
        <mat-option value="11.00" [disabled]="this.fulltime < '11.00' ?  false : true">11.00</mat-option>
        <mat-option value="12.00" [disabled]="this.fulltime < '12.00' ?  false : true">12.00</mat-option>
        <mat-option value="13.00" [disabled]="this.fulltime < '13.00' ?  false : true">13.00</mat-option>
        <mat-option value="14.00" [disabled]="this.fulltime < '14.00' ?  false : true">14.00</mat-option>
        <mat-option value="15.00" [disabled]="this.fulltime < '15.00' ?  false : true">15.00</mat-option>
        <mat-option value="16.00" [disabled]="this.fulltime < '16.00' ?  false : true">16.00</mat-option>
        <mat-option value="17.00" [disabled]="this.fulltime < '17.00' ?  false : true">17.00</mat-option>
        <mat-option value="18.00" [disabled]="this.fulltime < '18.00' ?  false : true">18.00</mat-option>
        <mat-option value="19.00" [disabled]="this.fulltime < '19.00' ?  false : true">19.00</mat-option>
        <mat-option value="20.00" [disabled]="this.fulltime < '20.00' ?  false : true">20.00</mat-option>
        <mat-option value="21.00" [disabled]="this.fulltime < '21.00' ?  false : true">21.00</mat-option>
        <mat-option value="22.00" [disabled]="this.fulltime < '22.00' ?  false : true">22.00</mat-option>
      </mat-select>
    </mat-form-field>
  </label>
  <label>To Time :
    <mat-form-field>
      <mat-select required placeholder=" " formControlName="totime" >
        <mat-option value="08.00" *ngIf="this.firstFormGroup.get('time').value < '08.00' ? true : false">08.00</mat-option>
        <mat-option value="09.00" *ngIf="this.firstFormGroup.get('time').value < '09.00' ? true : false">09.00</mat-option>
        <mat-option value="10.00" *ngIf="this.firstFormGroup.get('time').value < '10.00' ? true : false">10.00</mat-option>
        <mat-option value="11.00" *ngIf="this.firstFormGroup.get('time').value < '11.00' ? true : false">11.00</mat-option>
        <mat-option value="12.00" *ngIf="this.firstFormGroup.get('time').value < '12.00' ? true : false">12.00</mat-option>
        <mat-option value="13.00" *ngIf="this.firstFormGroup.get('time').value < '13.00' ? true : false">13.00</mat-option>
        <mat-option value="14.00" *ngIf="this.firstFormGroup.get('time').value < '14.00' ? true : false">14.00</mat-option>
        <mat-option value="15.00" *ngIf="this.firstFormGroup.get('time').value < '15.00' ? true : false">15.00</mat-option>
        <mat-option value="16.00" *ngIf="this.firstFormGroup.get('time').value < '16.00' ? true : false">16.00</mat-option>
        <mat-option value="17.00" *ngIf="this.firstFormGroup.get('time').value < '17.00' ? true : false">17.00</mat-option>
        <mat-option value="18.00" *ngIf="this.firstFormGroup.get('time').value < '18.00' ? true : false">18.00</mat-option>
        <mat-option value="19.00" *ngIf="this.firstFormGroup.get('time').value < '19.00' ? true : false">19.00</mat-option>
        <mat-option value="20.00" *ngIf="this.firstFormGroup.get('time').value < '20.00' ? true : false">20.00</mat-option>
        <mat-option value="21.00" *ngIf="this.firstFormGroup.get('time').value < '21.00' ? true : false">21.00</mat-option>
        <mat-option value="22.00" *ngIf="this.firstFormGroup.get('time').value < '22.00' ? true : false">22.00</mat-option>
      </mat-select>
    </mat-form-field>
  </label>
</div>






  <div align="center">
    <label>Tel. Booking By :
      <mat-form-field>

        <input matInput formControlName="tel" required placeholder=" "
               maxlength="10" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
        >

      </mat-form-field>
    </label>
    &nbsp;&nbsp;
    <label>Topic :
      <mat-form-field>

        <input matInput formControlName="topic" required placeholder=" " onkeypress='return event.charCode > 47 || event.charCode < 47'>

      </mat-form-field>
    </label>

  </div>



  <div align="center">
    <label>Attendees :
      <mat-form-field>

        <input matInput formControlName="atten" required placeholder=" "
               maxlength="2" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
        >

      </mat-form-field>
    </label>
    &nbsp;&nbsp;
    <label>Remark :
      <mat-form-field>

        <input matInput formControlName="remark" onkeypress='return event.charCode > 47 || event.charCode < 47'>

      </mat-form-field>
    </label>
  </div>

<div style="text-align:center;">
  <button mat-fab mat-button color="primary" class="material-cust-large-button" (click)="edit()">Save</button>

  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
  <button mat-fab mat-button color="primary" class="material-cust-large-button" (click)="cancel()">Cancel</button><br/>
  <br/><br/>
  <div align="center" *ngIf="spiner">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</div>
</form>
