
<body class="bgimg" >



<mat-sidenav-container *ngIf="(isLoggedInAdmin | async)"
                       class="card" (backdropClick)="close()">



  <mat-sidenav-content>

    <br/><br/><br/>


    <h1 align ="center" style="font-family: 'Anton', sans-serif;">Set Time</h1>
    <br/><br/>

    <table align="center" cellspacing="50">
      <tr>
    <td><table border="1" align="center">
      <tr><th colspan="2" align="center" class="greentable">Set Late Time</th></tr>
      <tr><th align="center" >Late time</th><th align="center" >Edit</th></tr>
      <tr><td align="center" style="vertical-align:middle">{{latetimes}}</td><td align="center"><button mat-icon-button (click)="openDialog()"><i class="material-icons">
        edit
      </i></button></td></tr>
    </table>
    </td>
        <td><table border="1" align="center">
          <tr><th colspan="2" align="center" class="greentable">Set Notify Time</th></tr>
          <tr><th align="center" >Time</th><th align="center" >Edit</th></tr>
          <tr><td align="center" style="vertical-align:middle">{{notify}}</td><td align="center"><button mat-icon-button (click)="openDialog2()"><i class="material-icons">
            edit
          </i></button></td></tr>
        </table>
        </td>
      </tr>
    </table>

  </mat-sidenav-content>


</mat-sidenav-container>


</body>
