<html>
<body>
<div class="wrapper">

  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>BookMeetingRoom</h3>
    </div>
    <div>
      <button mat-button class="sidebar-menu" routerLink="/selectDate">SelectRoom & Time</button><br>
    </div>


    <div class="sidebar-emp">

    </div>
  </nav>

  <div class="card-header" >
    <button mat-raised-button class="botton-login" *ngIf="!(isLoggedIn | async)" (click)="authService.callDialog()">Login</button>
    <button mat-raised-button class="botton-login" *ngIf="(isLoggedIn | async)" (click)="authService.logout()">LogOut</button>

    <div class="form-data" *ngIf="!(isLoggedIn | async)">
        <h1>Please Login !</h1>
    </div>

    <br/><br/>

    <div *ngIf="(isLoggedIn | async)">
      <br/>
      <h1 align="center">SelectDate</h1>


      <mat-form-field class="datepick">
        <input matInput [matDatepicker]="picker" placeholder="DD/MM/yyyy" [(ngModel)]="dateSelect">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      &nbsp;&nbsp;
      <button mat-raised-button color="primary" (click) = "clicksearch()">Search</button>


      <br/><br/>



     </div>

   </div>

 </div>



 </body>


 </html>

