
<body class="bgimg">



  <mat-sidenav-container *ngIf="(isLoggedIn | async) || (isLoggedInAdmin | async) || (isLoggedInHR | async)"
    class="card" (backdropClick)="close()">
    <mat-sidenav #sidenav (keydown.escape)="close()">
      <button mat-button (click)="close()" routerLink="/selectDate" class="botton">Book MeetingRoom</button><br>
      <button mat-button (click)="close()" routerLink="/dashboard" class="botton">Dashboard</button>

      <mat-accordion *ngIf="(isLoggedInAdmin | async)">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Admin
            </mat-panel-title>

          </mat-expansion-panel-header>

          <button mat-button (click)="close()" routerLink="/systemadmin" class="botton">System Admin</button>

        </mat-expansion-panel>

      </mat-accordion>


    </mat-sidenav>


    <mat-sidenav-content>

      <button type="button" mat-button (click)="sidenav.open()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon">list
        </mat-icon><p>Menu</p>
      </button>


      <h1 align ="center">Book Meeting Rooms</h1>
      <br/>
      <div align="center">
      <mat-form-field>
        <input matInput [matDatepickerFilter]="myFilter" [min]="today" [matDatepicker]="picker" placeholder="DD/MM/yyyy"
               [formControl]="serializedDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      &nbsp;&nbsp;
      <button mat-raised-button color="primary" (click)="clicksearch()">Search</button>
      </div>






    </mat-sidenav-content>


  </mat-sidenav-container>






</body>
