.wrapper {
    display: flex;

    align-items: stretch;
}



#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 12px;
    background: #6d7fcc;
}


#sidebar .sidebar-menu {
    padding: 20px;
    background: #7386D5;
    width:250px;
}

#sidebar .sidebar-emp {
        width: 100%;
        padding: 20px;
        min-height: 72vh;
        transition: all 0.3s;
}

.card-header{
  background: #7386D5;
  height:85px;
  width:100%;
}


.botton-login{
  margin-left: 1150px;
  margin-top: 22px;
  color: #7386D5;
}

.form-data{
    text-align : center;
}

table{
  width:90%;
  text-align:center;

}

.datepick{
    margin-left:126px;
}

.greentable{
  background-color: rgb(0, 176, 80);
}

.yellowtable{
  background-color: rgb(255, 192, 0);
}

.whitetable{
    background-color: white;
}
