
<html>
<body class="bgimg">



<mat-sidenav-container *ngIf="(isLoggedIn | async) || (isLoggedInAdmin | async) || (isLoggedInHR | async)"
                       class="card" (backdropClick)="close()">
  <mat-sidenav #sidenav (keydown.escape)="close()" class="sidenavs">
    <button mat-button (click)="close()" routerLink="/selectDate" class="botton">Book MeetingRoom</button><br>
    <button mat-button (click)="close()" routerLink="/dashboard" class="botton">Dashboard</button>

    <mat-accordion *ngIf="(isLoggedInAdmin | async)">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Admin
          </mat-panel-title>

        </mat-expansion-panel-header>

        <button mat-button (click)="close()" routerLink="/systemadmin" class="botton">System Admin</button>

      </mat-expansion-panel>

    </mat-accordion>
  </mat-sidenav>

  <mat-sidenav-content>

    <button type="button" mat-button (click)="sidenav.open()">
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon">list
      </mat-icon><p>Menu</p>{{CurrentTime}}
    </button>

    <div *ngIf="(isLoggedIn | async) || (isLoggedInAdmin | async) || (isLoggedInHR | async)">


      <h2 style="margin-left:5%;">Date: {{dateshow}}</h2>


      <table border="1" align="center" bordercolor=black bgcolor="black">


        <tr height="50" class="greentable">
          <th colspan="20">Booking Meeting Room</th>
        </tr>


        <tr class="yellowtable">
          <th rowspan="2" height="50"> Meeting Room</th>
          <th colspan="19">Time</th>
        </tr>

        <tr class="yellowtable">
          <th>08.00</th>
          <th>08.30</th>
          <th>09.00</th>
          <th>09.30</th>
          <th>10.00</th>
          <th>10.30</th>
          <th>11.00</th>
          <th>11.30</th>
          <th>12.00</th>
          <th>12.30</th>
          <th>13.00</th>
          <th>13.30</th>
          <th>14.00</th>
          <th>14.30</th>
          <th>15.00</th>
          <th>15.30</th>
          <th>16.00</th>
          <th>16.30</th>
          <th>17.00</th>
        </tr>

        <tr class="whitetable" *ngFor="let event of events; let i = index">

          <th>
            {{event[i][4]}}
          </th>

          <td *ngFor="let cell of event"

              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"

              (click)="cell[11] ? Reserved(cell[4],cell[1],cell[12],cell[7],cell[8],cell[9],cell[13],cell[14]) :
              cell[0] == 18 ? 1 :selectTable(cell[4],cell[1])"
          >

            <div *ngIf="cell[5]">
              <font color="black">
                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                Topic: {{cell[8]}}<br>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>

          </td>

        </tr>





      </table>


    </div>
    <br/><br/>




  </mat-sidenav-content>


</mat-sidenav-container>


</body>


</html>



