
<html>
<body class="bgimg">



<mat-sidenav-container *ngIf="(roleuser) || (roleadmin) || (rolehr)"
                       class="card" (backdropClick)="close()">


  <mat-sidenav-content>

    <div *ngIf="(roleuser) || (roleadmin) || (rolehr)">
      <br>
      <font style="margin-left: 2%;">{{fulltime}}</font>

        <br/><br/>
      <div style="margin-left: 6%; ">
        <mat-form-field>
          <input matInput  [min]="today" [max]="maxDate" [matDatepicker]="picker" placeholder="DD/MM/yyyy" readonly="readonly"
                 [formControl]="serializedDate">
          <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle >
          <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field>
        &nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="clicksearch()">Search</button>
      </div>


      <table border="1" align="center" bordercolor=black bgcolor="black">


        <tr height="50" class="greentable" >
          <th colspan="16" style="text-align:center; color:black; vertical-align: middle;">Booking Meeting Room</th>
        </tr>


        <tr class="yellowtable">
          <th rowspan="2" height="50" style="text-align:center; color:black; vertical-align: middle;"> Meeting Room</th>
          <th colspan="15" style="text-align:center; color:black; vertical-align: middle;">Time</th>
        </tr>

        <tr class="yellowtable" >
          <th style="text-align:left; color:black; vertical-align: middle; width: 70px;">08.00</th>
          <th style="text-align:left; color:black; vertical-align: middle;width: 70px;">09.00</th>
          <th style="text-align:left; color:black; vertical-align: middle;width: 70px;">10.00</th>
          <th style="text-align:left; color:black; vertical-align: middle;width: 70px;">11.00</th>
          <th style="text-align:left; color:black; vertical-align: middle;width: 70px;">12.00</th>
          <th style="text-align:left; color:black; vertical-align: middle;width: 70px;">13.00</th>
          <th style="text-align:left; color:black; vertical-align: middle;width: 70px;">14.00</th>
          <th style="text-align:left; color:black; vertical-align: middle;width: 70px;">15.00</th>
          <th style="text-align:left; color:black; vertical-align: middle;width: 70px;">16.00</th>
          <th style="text-align:left; color:black; vertical-align: middle;width: 70px;">17.00</th>
          <th style="text-align:left; color:black; vertical-align: middle;width: 70px;">18.00</th>
          <th style="text-align:left; color:black; vertical-align: middle;width: 70px;">19.00</th>
          <th style="text-align:left; color:black; vertical-align: middle;width: 70px;">20.00</th>
          <th style="text-align:left; color:black; vertical-align: middle;width: 70px;">21.00</th>
          <th style="text-align:left; color:black; vertical-align: middle;width: 70px;">22.00</th>
        </tr>

        <tr class="whitetable" *ngFor="let event of events; let i = index">

          <th style="text-align:center; color:black; vertical-align: middle;">
            {{event[i][4]}}
          </th>

          <td *ngFor="let cell of event"

              [attr.colspan]="cell[2]" [attr.bgcolor]="cell[3]"

              (click)="cell[11] ? Reserved(cell[4],cell[1],cell[6],cell[7],cell[8],cell[9],cell[13],cell[14],cell[16]) :
              cell[0] == 14 ? 1 :selectTable(cell[4],cell[1])"
              style="text-align:center; color:black; vertical-align: middle;"
              matTooltipClass="custom-tooltip-blue"
              [matTooltip]="cell[11] ?
                           'Booking by: ' + cell[6]+
                           '\nAttendees: ' +cell[7]+
                           '\nTopic: ' +cell[8] +
                           '\nTel: ' + cell[14]+'\n'+
                            (cell[10] ? 'Remark: '+cell[9]+'\n' : '') +
                            (cell[3] == '#006633' ? 'Status: Checkout' : '' )+
                            (cell[3] == '#C0C0C0' ? 'Status: Booking On Time' : '' )+
                            (cell[3] == '#A0FF7D' ? 'Status: Checkin' : '' )+
                            (cell[3] == '#FF4040' ? 'Status: Not Checkin' : '' )+
                            (cell[3] == '#FF4041' ? 'Status: Checkout Sys' : '' ): '' "
              [matTooltipPosition]="position.value"

          >


            <div *ngIf="cell[5]">
              <font [ngStyle]="{'color':cell[3] === '#006633' || cell[3] === '#FF4040' || cell[3] === '#FF4041' ? 'white' : 'black' }">

                Booking by: {{cell[6]}}<br>
                Attendees: {{cell[7]}}<br>
                <div *ngIf="cell[15]">
                Topic: {{cell[8]}}<br>
                </div>
                <div *ngIf="cell[10]">
                  Remark: {{cell[9]}}
                </div>
              </font>
            </div>


          </td>

        </tr>





      </table>


    </div>
    <br/><br/>




  </mat-sidenav-content>


</mat-sidenav-container>




</body>


</html>



