<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar style="background-color: rgb(0, 176, 80); " class="example-toolbar" >
    <button mat-icon-button (click)="snav.toggle()" *ngIf="(isLoggedIn | async) || (roleadmin) || (isLoggedInHR | async)"><mat-icon style="color:white;">menu</mat-icon></button>
    <h1 class="example-app-name" style="color:white;">Book Meeting Room </h1>&nbsp;<i class="material-icons" style="color:white;">
    menu_book
  </i>
    <div class="botton1">
      <button mat-raised-button
              *ngIf="(roleuser) || (roleadmin) || (rolehr)"
              (click)="logout()" (click)="snav.toggle()" color="white">LogOut
      </button>
    </div>
  </mat-toolbar>


  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0" >
    <mat-sidenav [opened]="(roleuser) || (roleadmin) || (rolehr)" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
                 style="background-color: rgb(0, 176, 80); "
    >
      <mat-nav-list style="width:250px">

        <mat-card class="example-card" *ngIf="(roleuser) || (roleadmin) || (rolehr)">

        <mat-card-header>
          <div mat-card-avatar style="font-size:40px">

            <i class="material-icons" style="font-size:45px" >
              account_circle
            </i>
          </div>

        <mat-card-title style="align:center;">{{nameuser}}</mat-card-title>

        </mat-card-header>

        </mat-card>

        <button mat-button *ngIf="(roleuser) || (roleadmin) || (rolehr)"  routerLink="/"
                class="but" style=" text-align:left;margin-top : 3px;border: 1px solid #3E7209;color:white; font-family: 'Libre Franklin', sans-serif;" ><i class="material-icons" >
          meeting_room
        </i>&nbsp;Book Meeting Room</button>
        <br>
        <button mat-button *ngIf="(roleuser) || (roleadmin) || (rolehr)"  routerLink="/dashboard"
                class="but" style=" margin-top : 3px;border: 1px solid #3E7209;text-align: left;color:white; font-family: 'Libre Franklin', sans-serif;"><i class="material-icons">
          dashboard
        </i> &nbsp;Dashboard</button>

        <button mat-button  routerLink="/addroom"  *ngIf="(rolehr) || (roleadmin)"
                class="but" style=" margin-top : 3px;border: 1px solid #3E7209;text-align: left;color:white; font-family: 'Libre Franklin', sans-serif;"><i class="material-icons">
          add_circle_outline
        </i> Add Meeting Room</button>



        <mat-accordion *ngIf="(roleadmin)" style="color:white; font-family: 'Libre Franklin', sans-serif;">
          <mat-expansion-panel style="border: 1px solid #3E7209;margin-top : 3px;width:95% ; margin-left:2.5%;background-color: rgb(0, 176, 80); color:white; font-family: 'Libre Franklin', sans-serif;">
            <mat-expansion-panel-header class="but">
              <mat-panel-title style=" color:white"><i class="material-icons">
                perm_data_setting
              </i>
                &nbsp; Admin
              </mat-panel-title>

            </mat-expansion-panel-header >

            <button mat-button  routerLink="/systemadmin" class="but" style="text-align : left;font-size: 17px;font-family: 'Libre Franklin', sans-serif;">- System Admin</button>
            <button mat-button  routerLink="/setlatetime" class="but" style=" text-align : left;font-size: 17px;font-family: 'Libre Franklin', sans-serif;">- Set Time</button>
          </mat-expansion-panel>

        </mat-accordion>



      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>




<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
