.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;

}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}


.bgimg{
  background-image:url(src/app/img/ILS-LOGO.jpg);
    border: thin silver solid;
    background-attachment: fixed;
    background-size: 100% 100%;

}

.botton{
  width:100%;
  height: auto;
  font-size: 20px;
}
.but{
   width:95%;
    height: 70px;
    font-size: 18px;
    margin-left:2.5%;
}

.botton1{
     max-width: 400px;
     margin-left: auto;
     margin-right: 0;
}

.bg_sidenav{
  background-image:url(src/app/img/images.jpg);
}

.example-card {
 width:100%;
  height : 82px;
  opacity: 0.8;
  background-color: rgb(0, 176, 80);
  color:white;
}

.example-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.white{
  color:white;
}
